@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

*, *:before, *:after {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

body {
  font-family: "SF Display", sans-serif;
  font-weight: 900;
  font-size: 10px;
  margin: 0 auto;
  position: relative;
  width: 375px;
  height: 667px;
  background: #FFFFFF;
}

.searchBar {
  position: fixed;
  width: inherit;
  height: 131px;
  background: #3895EC;
  font-size: 8px;
}

.searchFrom {
  position: fixed;
  width: 318px;
  height: 30px;
  top: 32px;
  margin-left: 41px;
  padding-top: 6px;
  background: #3573AE;
  border-radius: 7px;
}

.searchTo {
  position: fixed;
  width: 318px;
  height: 29px;
  top: 74px;
  margin-left: 41px;
  padding-top: 6px;
  background: #3573AE;
  border-radius: 7px;
}

.searchBar h1 {
  padding-left: 15px;
  color: #FFFFFF;
}

#appleUIBar {
  position: absolute;
  width: 375px;
  height: 20px;
  left: 0px;
  top: 0px;
}

#backArrow {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 14px;
  top: 45px;
}

.routeOption {
  position: fixed;
  margin: 0 auto;
  width: 375px;
  height: 39px;
  top: 131px;
  background: #E6E6E6;
}

.routeOption li {
  float: left;
  margin-top: -10px;
  margin-left:0px;
  margin-right: 32px;
  color: #898989;
}

.routeOption #active {
  color: #434343;
}

.infoBar {
  position: fixed;
  background-color: #FFFFFF;
  color: #898989;
  margin: 0 auto;
  width: inherit;
  height: 48px;
  top: 170px;
  font-size: 7.5px;
}

.infoBar li {
  float: left;
  margin-top: 0px;
}

.infoBar img {
  width: 19.8px;
  height: 18.32px;
  margin-left: 7px;
  margin-top: 10px;
}

.infoBar h1 {
  margin-left: 34px;
}

.busOption {
  border: hidden;
  overflow: hidden;
  overflow-y: scroll;
  height: 676px;
}

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.busRoute {
  position: relative;
  z-index: -1;
  width: 345px;
  height: 66px;
  left: 16px;
  top: 220px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  margin-bottom: 13px;
}

.busRoute li {
  float: left;
}

.busNumber {
  background: #3895EC;
  width: 42px;
  height: 42px;
  border-radius: 100px/100px;
  padding-top: 10px;
  color: #FFFFFF;
  font-size: 18px;
  text-align: center;
  margin-left: -22px;
  margin-top: 1px;
}

.busTo {
  margin-top: -8px;
  margin-left: 22px;
}

.busDirection {
  width: 78px;
  height: 16px;
  font-size: 12px;
  padding-left: 3px;
  padding-top: 1px;
  color: #FFFFFF;
}

.busDestination {
  font-size: 14px;
  margin-top: -2px;
}

.busTimes {
  float: right;
  margin-top: 52px;
  margin-right: 23px;
}

.busTime1 {
  font-size: 18px;
  margin-top: -32px;
}

.busTime2 {
  margin-top: -44px;
  margin-left: 15px;
  font-size: 12px;
  color: #898989;
}

.busTime3 {
  margin-top: -6px;
  margin-left: 15px;
  font-size: 12px;
  color: #898989;
}

.iconTime1 {
  position: absolute;
  right: 45px;
  top: 30px;
  width: 5.97px;
  height: 6px;
}

.iconTime2 {
  position: absolute;
  right: 20px;
  top: 16px;
  width: 3.98px;
  height: 4px;
}

.iconTime3 {
  position: absolute;
  right: 20px;
  top: 34px;
  width: 3.98px;
  height: 4px;
}

#busEastbound {
  background-color: #DD0202;
}

#busNorthbound {
  background-color: #28B7AF;
}

#busSouthbound {
  background-color: #E08451;
}

#busReroute {
  background-color: #9F9F9F;
}

#busNoservice {
  background-color: #000000;
}

#busResume {
  right: 20px;
}
